<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ url_for('static',filename='bulma.min.css') }}">
   </head>
   <body class="has-background-black">
      {% for site in sites %}
      <section class="section">
         <div class="container">
            <div class="columns">
               <div class="column">
                  <div class="card is-horizontal shadow-md is-cursor-pointer transform is-duration-300 hover-shadow-xl hover-translate-y has-background-dark">
                     <div class="card-content p-0 is-flex is-flex-direction-column">
                        <div class="content p-5 has-text-grey-light">
                           <h3 class="has-text-white">{{ site.name }}</h3>
                           <p class="is-size-6 has-text-weight-normal">{{ site.description }}</p>
                        </div>
                        <div class="content p-5 has-background-info-light">
                           <div class="columns">
                              <div class="column">
                              <div class="column"> <a href="{{ site.url }}" class="button is-primary is-medium is-fullwidth has-text-weight-semibold">Open Site</a> </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      {% endfor %}
      </div>
   </body>
</html>
